<table>
  <thead>
  <tr>

    <td [attr.colspan]="gcpData.headerTitles.length">
      <input type='file' (change)="fileChanged($event)">
    </td>
  </tr>
  <tr>
    <td></td>
    <td *ngFor="let headerTitle of gcpData.headerTitles">

      <div>
        <span class="pointer" (click)="orderBy(headerTitle)">{{headerTitle}}</span>
        <span *ngIf="ordering[headerTitle]"> - {{ordering[headerTitle]}}</span>
      </div>
      <div *ngIf="headerTitle === 'name'">
        <input type="text" [(ngModel)]="nameFilterValue">
      </div>
    </td>
  </tr>

  </thead>

  <tbody>
  <tr *ngFor="let gcpLine of gcpData.gcpArray | nameFilter:nameFilterValue ; let idx = index" [ngClass]="[gcpLine.error?'error-line':'']">
    <td class="pointer" (click)="remove(idx)">x</td>
    <td *ngFor="let gcpKey of gcpData.headerTitles">
      {{gcpLine[gcpKey] }}
    </td>
  </tr>
  </tbody>
</table>
