
  <table>
    <thead>
    <tr>
      <td *ngFor="let headerTitle of gcpData.headerTitles">{{headerTitle}}</td>
    </tr>
    <tr>
      <td [attr.colspan]="gcpData.headerTitles.length">
        <input type='file'  (change)="fileChanged($event)">
      </td>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let gcpLine of gcpData.gcpArray" [ngClass]="[gcpLine.error?'error-line':'']">
    <td *ngFor="let gcpKey of gcpData.headerTitles">
      {{gcpLine[gcpKey] || 'n/a'}}
    </td>
    </tr>
    </tbody>
  </table>
